.dark {
  --header-background: #000;
  --header-text: #ff7cc6;
  --header-text-sleep: #ffffff99;
  --header-text-hover: #ff2da3;
  --header-border: #ff189a87;
  
  --footer-background: #000;
  --footer-text: #ff7cc6;
  
  --nav-text: #ff189a;
  --nav-border: #ff189a;

  --fundo: #1d1d1d;
  --fundo-icons: #b60066;
  --text-icons: #ffffff;
  --padrao: #ff189a;

  --background: #ffffff;
  --foreground: #cccccc;
}