body, html, #app {
  background-image: linear-gradient(270deg, #dc8bdf, #6858be, #006891);
  height: 100%;
}

#app {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  background: transparent !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background-color: #3e3f38de !important;
}

.sm-scrollbar::-webkit-scrollbar {
  background: transparent !important;
  width: 8px;
}
.sm-scrollbar::-webkit-scrollbar-track {
  background: transparent !important;
}
.sm-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3e3f38de !important;
  border-radius: 10px !important;
}

.caixa {
  box-shadow: 0 2px 25px -1px #000;
}

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
} */