:root {
  --texto-navegacao: #9b9b9b;
}

html, body {
  background-image: linear-gradient(270deg, #dc8bdf, #6858be, #006891);
  height: 100%;
}

body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa {
  background: #272822;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 25px -1px #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1500px;
}

.main {
  height: 100%;
  display: flex;
  overflow: auto;
}

.navegacao {
  background: #1d1e19;
  width: 20rem;
  height: 100%;
  overflow: hidden;
  color: var(--texto-navegacao);
}

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  color: #fff;
}

nav {
  padding: 30px 0px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: var(--texto-navegacao);
}

.topo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  background: #1d1e19;
  border-bottom: 1px solid #161613;
}
.rodape {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background: #1d1e19;
  border-top: 1px solid #161613;
}

.flex-col {
  flex-direction: column;
}

.btn-menu-vscode {
  border: none;
  background: transparent;
}

.icone-menu-vscode.ativo, .icone.ativo{
  color: #dddddd !important;
}
.icone-menu-vscode {
  color: var(--texto-navegacao) !important;
}
.icone {
  color: var(--texto-navegacao) !important;
}

.gap-menu-vscode {
  gap: 0px;
}
.box-icon-menu {
  padding: 10px 0px;
}
.box-icon-menu.ativo {
  border-left: ridge;
}
.menu-vscode {
  background: #161613;
}
.w-menu-vscode {
  width: 50px;
}

.vh-fixo {
  height: 85vh !important;
}

.conteudo {
  width: 100%;
  height: 100%;
}
.scrollbar-edit::-webkit-scrollbar {
  background: transparent !important;
  width: 10px;
}
.scrollbar-edit::-webkit-scrollbar-track {
  background: transparent !important;
}
.scrollbar-edit::-webkit-scrollbar-thumb {
  background-color: #3e3f38de !important;
}

.bg-vermelho {
  background: #ED6A5E !important;
  border: none;
}
.bg-amarelo {
  background: #F4BF4F !important;
  border: none;
}
.bg-verde {
  background: #61C554 !important;
  border: none;
}

.explorador {
  color: var(--texto-navegacao);
  font-size: 12px;
}

code > span {
  display: contents !important;
  /* word-break: break-word; */
}

.card-header {
  padding: 0rem 0.75rem;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e600;
}
.nav-tabs .nav-link:hover {
  color: #fff;
  border-color: #e9ecef00 #e9ecef00 #919288;
}
.nav-tabs .nav-link {
  color: #9b9b9b;
}

.nav-link:hover > .btn-sem-borda {
  color: #fff;
  display: contents;
}
.nav-link.active > .btn-sem-borda {
  color: #e6db74;
  display: contents;
}
.btn-sem-borda {
  color: transparent;
  background-color: #6c757d00;
  border-color: #6c757d00;
  display: contents;
  font-size: 1rem;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #e6db74;
  background-color: transparent;
  border-color: #e6db7400 #dee2e600 #e6db74;
}
.nav-tabs .nav-link:focus {
  color: #e6db74;
  border-color: #e6db7400 #dee2e600 #e6db74;
}
.nav-link.active:hover {
  color: #e6db74;
  border-color: #e9ecef00 #e9ecef00 #919288;
}