:root {
  --texto-navegacao: #9b9b9b;
}

html, body {
  background-image: linear-gradient(270deg, #dc8bdf, #6858be, #006891);
}

body {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa {
  background: #272822;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 25px -1px #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1500px;
}

.main {
  display: flex;
  height: 90vh;
}

.navegacao {
  background: #1d1e19;
  width: 20rem;
  height: 100%;
  overflow: hidden;
  color: var(--texto-navegacao);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}

nav {
  padding: 30px 0px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.topo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  background: #1d1e19;
  border-bottom: 1px solid #161613;
}
.rodape {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background: #1d1e19;
  border-top: 1px solid #161613;
}

.flex-col {
  flex-direction: column;
}

.btn-menu-vscode {
  border: none;
  background: transparent;
}

.gap-menu-vscode {
  gap: 0px;
}
.box-icon-menu {
  padding: 10px 0px;
}
.box-icon-menu.ativo {
  border-left: ridge;
}
.icone-menu-vscode.ativo {
  color: #dddddd !important;
}
.icone-menu-vscode {
  color: var(--texto-navegacao) !important;
}
.menu-vscode {
  background: #161613;
}
.w-menu-vscode {
  width: 50px;
}

.vh-fixo {
  height: 85vh !important;
}

.conteudo {
  width: 100%;
  height: 100%;
}
.scrollbar-edit::-webkit-scrollbar {
  background: transparent !important;
  width: 10px;
}
.scrollbar-edit::-webkit-scrollbar-track {
  background: transparent !important;
}
.scrollbar-edit::-webkit-scrollbar-thumb {
  background-color: #3e3f38de !important;
}

.bg-vermelho {
  background: #ED6A5E !important;
  border: none;
}
.bg-amarelo {
  background: #F4BF4F !important;
  border: none;
}
.bg-verde {
  background: #61C554 !important;
  border: none;
}

.gap-bolinhas {
  gap: 0.5rem;
}
.w-bolinhas {
  width: 0.75rem;
}
.h-bolinhas {
  height: 0.75rem;
}
.w-espacinho {
  width: 3.5rem;
}

.explorador {
  color: var(--texto-navegacao);
  font-size: 12px;
}


/****************************** PATRONIZADOS ***************************************/

.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.50rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}

.white-space-nowrap {
  white-space: nowrap;
}

.overflow-x-three-points {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-1 {
  flex: 1;
}

.overflow-auto {
  overflow: auto !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}