code {
  font-size: 87.5% !important;
  color: #e83e8c !important;
  word-wrap: break-word !important;
}
pre {
  display: block !important;
  padding: 9.5px !important;
  margin: 0 0 10px !important;
  font-size: 13px !important;
  line-height: 1.42857143 !important;
  word-break: break-all !important;
  word-wrap: break-word !important;
  background-color: rgba(22, 27, 34, 0.1)!important;
  border: 0px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 34px 10px #00000040 !important;
}
.hljs code {
  white-space: pre;
}
.hljs {
  overflow-x: auto;
}