.print {
  display: none !important;
}
@media print {
  .noPrint {
    display: none !important;
  }
  .print {
    display: flex !important;
  }
}

@media (max-width: 768px) {
  html, body {
    height: 100%;
  }
  body {
    padding: 0px !important;
  }
  .caixa {
    border-radius: 0px;
  }
  .topo {
    border-radius: 0px;
  }
  .rodape {
    border-radius: 0px;
  }

  .tree-node-inner-back {
    margin-bottom: 0px !important;
    padding-bottom: 4px !important;
    padding-top: 2px !important;
  }
  
  .collapse-all {
    display: flex;
  }
}