.monokai {
  /* Backgrounds */
  --bg-principal: #272822;
  --bg-secundario: #1d1e19;
  --bg-terciario: #3e3d32;
  --bg-navbar: #161613;
  --bg-hover: #3e3d32;
  --bg-ativo: #49483e;
  --bg-botao: #a6e22e;
  --bg-botao-hover: #8fd928;
  --bg-input: #3e3d32;
  --bg-header: #272822;
  --bg-footer: #272822;
  
  /* Textos */
  --texto-principal: #f8f8f2;
  --texto-secundario: #75715e;
  --texto-titulo: #ffffff;
  --texto-destaque: #66d9ef;
  
  /* Bordas */
  --borda-principal: #3e3d3200;
  --borda-secundaria: #49483e;
  --borda-destaque: #a6e22e;
  
  /* Ícones */
  --icone-normal: #75715e;
  --icone-hover: #f8f8f2;
  --icone-ativo: #ffffff;
  
  /* Abas */
  --aba-bg: #272822;
  --aba-bg-ativa: #1d1e19;
  --aba-borda-ativa: #a6e22e;
  --aba-texto: #75715e;
  --aba-texto-ativo: #f8f8f2;
  
  /* Navbar */
  --navbar-borda-ativa: #a6e22e;
}
