:root {
  --vscode-foreground: #cccccc;
  --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
  --vscode-errorForeground: #f48771;
  --vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
  --vscode-icon-foreground: #cccccc;
  --vscode-focusBorder: rgba(255, 24, 154, 0.53);
  --vscode-selection-background: rgba(255, 24, 154, 0.53);
  --vscode-textLink-foreground: rgba(255, 24, 154, 0.53);
  --vscode-textLink-activeForeground: #3794ff;
  --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
  --vscode-textPreformat-foreground: #d7ba7d;
  --vscode-textPreformat-background: rgba(255, 255, 255, 0.1);
  --vscode-textBlockQuote-background: #222222;
  --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
  --vscode-sash-hoverBorder: rgba(255, 24, 154, 0.53);
  --vscode-badge-background: rgba(255, 24, 154, 0.69);
  --vscode-badge-foreground: #ffffff;
  --vscode-activityWarningBadge-foreground: #ffffff;
  --vscode-activityWarningBadge-background: #b27c00;
  --vscode-activityErrorBadge-foreground: #000000;
  --vscode-activityErrorBadge-background: #f14c4c;
  --vscode-scrollbar-shadow: #000000;
  --vscode-scrollbarSlider-background: rgba(79, 79, 79, 0.11);
  --vscode-scrollbarSlider-hoverBackground: rgba(38, 38, 38, 0);
  --vscode-scrollbarSlider-activeBackground: rgba(125, 125, 125, 0.4);
  --vscode-progressBar-background: rgba(255, 24, 154, 0.53);
  --vscode-chart-line: #236b8e;
  --vscode-chart-axis: rgba(191, 191, 191, 0.4);
  --vscode-chart-guide: rgba(191, 191, 191, 0.2);
  --vscode-editor-background: #1d1d1d;
  --vscode-editor-foreground: #bababa;
  --vscode-editorStickyScroll-background: #1d1d1d;
  --vscode-editorStickyScrollGutter-background: #1d1d1d;
  --vscode-editorStickyScrollHover-background: #2a2d2e;
  --vscode-editorStickyScroll-shadow: #000000;
  --vscode-editorWidget-background: #252526;
  --vscode-editorWidget-foreground: #cccccc;
  --vscode-editorWidget-border: #454545;
  --vscode-editorWidget-resizeBorder: #5f5f5f;
  --vscode-editorError-background: rgba(183, 58, 52, 0);
  --vscode-editorError-foreground: #ad1818;
  --vscode-editorError-border: rgba(255, 255, 255, 0);
  --vscode-editorWarning-background: rgba(169, 144, 64, 0);
  --vscode-editorWarning-foreground: #cca700;
  --vscode-editorWarning-border: rgba(255, 255, 255, 0);
  --vscode-editorInfo-background: rgba(68, 144, 191, 0);
  --vscode-editorInfo-foreground: #75beff;
  --vscode-editorInfo-border: rgba(68, 144, 191, 0);
  --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
  --vscode-editorLink-activeForeground: #ff189a;
  --vscode-editor-selectionBackground: rgba(255, 24, 154, 0.23);
  --vscode-editor-inactiveSelectionBackground: #424345;
  --vscode-editor-selectionHighlightBackground: rgba(255, 24, 154, 0.23);
  --vscode-editor-selectionHighlightBorder: rgba(255, 24, 154, 0);
  --vscode-editor-compositionBorder: #ffffff;
  --vscode-editor-findMatchBackground: rgba(255, 24, 154, 0.34);
  --vscode-editor-findMatchHighlightBackground: rgba(255, 24, 154, 0.23);
  --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
  --vscode-editor-findMatchBorder: rgba(116, 135, 159, 0);
  --vscode-editor-findMatchHighlightBorder: rgba(255, 255, 255, 0);
  --vscode-editor-findRangeHighlightBorder: rgba(255, 255, 255, 0);
  --vscode-editor-hoverHighlightBackground: rgba(255, 24, 154, 0.23);
  --vscode-editorHoverWidget-background: #252526;
  --vscode-editorHoverWidget-foreground: #cccccc;
  --vscode-editorHoverWidget-border: #454545;
  --vscode-editorHoverWidget-statusBarBackground: #2c2c2d;
  --vscode-editorInlayHint-foreground: #969696;
  --vscode-editorInlayHint-background: rgba(255, 24, 154, 0.07);
  --vscode-editorInlayHint-typeForeground: #969696;
  --vscode-editorInlayHint-typeBackground: rgba(255, 24, 154, 0.07);
  --vscode-editorInlayHint-parameterForeground: #969696;
  --vscode-editorInlayHint-parameterBackground: rgba(255, 24, 154, 0.07);
  --vscode-editorLightBulb-foreground: #ffcc00;
  --vscode-editorLightBulbAutoFix-foreground: #75beff;
  --vscode-editorLightBulbAi-foreground: #ffcc00;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-diffEditor-insertedTextBackground: rgba(0, 255, 88, 0.05);
  --vscode-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.1);
  --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-border: #444444;
  --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
  --vscode-diffEditor-unchangedRegionBackground: #1d1d1d;
  --vscode-diffEditor-unchangedRegionForeground: #cccccc;
  --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
  --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
  --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
  --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
  --vscode-breadcrumb-foreground: rgba(255, 124, 198, 0.58);
  --vscode-breadcrumb-background: #1d1d1d;
  --vscode-breadcrumb-focusForeground: #e0e0e0;
  --vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
  --vscode-breadcrumbPicker-background: #252526;
  --vscode-merge-currentHeaderBackground: #367366;
  --vscode-merge-currentContentBackground: #27403b;
  --vscode-merge-incomingHeaderBackground: #395f8f;
  --vscode-merge-incomingContentBackground: #28384b;
  --vscode-merge-commonHeaderBackground: #383838;
  --vscode-merge-commonContentBackground: #282828;
  --vscode-editorOverviewRuler-currentContentForeground: #367366;
  --vscode-editorOverviewRuler-incomingContentForeground: #395f8f;
  --vscode-editorOverviewRuler-commonContentForeground: #383838;
  --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-problemsErrorIcon-foreground: #ad1818;
  --vscode-problemsWarningIcon-foreground: #cca700;
  --vscode-problemsInfoIcon-foreground: #75beff;
  --vscode-minimap-findMatchHighlight: rgba(255, 24, 154, 0.34);
  --vscode-minimap-selectionOccurrenceHighlight: #676767;
  --vscode-minimap-selectionHighlight: rgba(255, 24, 154, 0.23);
  --vscode-minimap-infoHighlight: #75beff;
  --vscode-minimap-warningHighlight: #cca700;
  --vscode-minimap-errorHighlight: #ad1818;
  --vscode-minimap-background: #1d1d1d;
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimapSlider-background: rgba(79, 79, 79, 0.06);
  --vscode-minimapSlider-hoverBackground: rgba(38, 38, 38, 0);
  --vscode-minimapSlider-activeBackground: rgba(125, 125, 125, 0.2);
  --vscode-charts-foreground: #cccccc;
  --vscode-charts-lines: rgba(204, 204, 204, 0.5);
  --vscode-charts-red: #ad1818;
  --vscode-charts-blue: #75beff;
  --vscode-charts-yellow: #cca700;
  --vscode-charts-orange: rgba(255, 24, 154, 0.34);
  --vscode-charts-green: #89d185;
  --vscode-charts-purple: #b180d7;
  --vscode-input-background: #1e1e1e;
  --vscode-input-foreground: #ffffff;
  --vscode-input-border: rgba(255, 255, 255, 0);
  --vscode-inputOption-activeBorder: rgba(255, 255, 255, 0);
  --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-inputOption-activeBackground: rgba(255, 24, 154, 0.37);
  --vscode-inputOption-activeForeground: #ffffff;
  --vscode-input-placeholderForeground: #ffffff;
  --vscode-inputValidation-infoBackground: #063b49;
  --vscode-inputValidation-infoBorder: #007acc;
  --vscode-inputValidation-warningBackground: #352a05;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-inputValidation-errorBackground: #5a1d1d;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-dropdown-background: #1e1e1e;
  --vscode-dropdown-foreground: #ffffff;
  --vscode-dropdown-border: rgba(255, 255, 255, 0);
  --vscode-button-foreground: #ffffff;
  --vscode-button-separator: rgba(255, 255, 255, 0.4);
  --vscode-button-background: rgba(255, 24, 154, 0.53);
  --vscode-button-hoverBackground: #ff189a;
  --vscode-button-secondaryForeground: #ffffff;
  --vscode-button-secondaryBackground: #3a3d41;
  --vscode-button-secondaryHoverBackground: #45494e;
  --vscode-radio-activeForeground: #ffffff;
  --vscode-radio-activeBackground: rgba(255, 24, 154, 0.37);
  --vscode-radio-activeBorder: rgba(255, 255, 255, 0);
  --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
  --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-checkbox-background: #1e1e1e;
  --vscode-checkbox-selectBackground: #252526;
  --vscode-checkbox-foreground: #ffffff;
  --vscode-checkbox-border: rgba(255, 255, 255, 0);
  --vscode-checkbox-selectBorder: #cccccc;
  --vscode-checkbox-disabled-background: #686868;
  --vscode-checkbox-disabled-foreground: #b4b4b4;
  --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
  --vscode-keybindingLabel-foreground: #cccccc;
  --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
  --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
  --vscode-list-focusBackground: #000000;
  --vscode-list-focusForeground: #ffffff;
  --vscode-list-focusOutline: rgba(255, 24, 154, 0.53);
  --vscode-list-activeSelectionBackground: #ff189a;
  --vscode-list-activeSelectionForeground: #ffffff;
  --vscode-list-inactiveSelectionBackground: #000000;
  --vscode-list-inactiveSelectionForeground: #ffffff;
  --vscode-list-hoverBackground: rgba(255, 24, 154, 0.28);
  --vscode-list-hoverForeground: #ffffff;
  --vscode-list-dropBackground: rgba(186, 23, 115, 0.28);
  --vscode-list-dropBetweenBackground: #cccccc;
  --vscode-list-highlightForeground: #ff189a;
  --vscode-list-focusHighlightForeground: #ff189a;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #f88070;
  --vscode-list-warningForeground: #cca700;
  --vscode-listFilterWidget-background: #000000;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: rgba(255, 24, 154, 0.53);
  --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
  --vscode-list-filterMatchBackground: rgba(255, 24, 154, 0.23);
  --vscode-list-filterMatchBorder: rgba(255, 255, 255, 0);
  --vscode-list-deemphasizedForeground: #8c8c8c;
  --vscode-tree-indentGuidesStroke: #585858;
  --vscode-tree-inactiveIndentGuidesStroke: rgba(88, 88, 88, 0.4);
  --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
  --vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
  --vscode-editorActionList-background: #252526;
  --vscode-editorActionList-foreground: #cccccc;
  --vscode-editorActionList-focusForeground: #ffffff;
  --vscode-editorActionList-focusBackground: #ff189a;
  --vscode-menu-border: rgba(21, 21, 21, 0);
  --vscode-menu-foreground: #ff7cc6;
  --vscode-menu-background: #000000;
  --vscode-menu-selectionForeground: #ffffff;
  --vscode-menu-selectionBackground: rgba(255, 24, 154, 0.53);
  --vscode-menu-selectionBorder: rgba(0, 0, 0, 0);
  --vscode-menu-separatorBackground: rgba(255, 255, 255, 0.23);
  --vscode-quickInput-background: #252526;
  --vscode-quickInput-foreground: #cccccc;
  --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
  --vscode-pickerGroup-foreground: #ff58b6;
  --vscode-pickerGroup-border: #3f3f46;
  --vscode-quickInputList-focusForeground: #ffffff;
  --vscode-quickInputList-focusBackground: #ff189a;
  --vscode-search-resultsInfoForeground: rgba(204, 204, 204, 0.65);
  --vscode-searchEditor-findMatchBackground: rgba(255, 24, 154, 0.15);
  --vscode-searchEditor-findMatchBorder: rgba(255, 255, 255, 0);
  --vscode-editor-lineHighlightBackground: rgba(255, 24, 154, 0.08);
  --vscode-editor-inactiveLineHighlightBackground: rgba(255, 24, 154, 0.08);
  --vscode-editor-lineHighlightBorder: rgba(104, 104, 104, 0);
  --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-editor-rangeHighlightBorder: rgba(255, 255, 255, 0);
  --vscode-editor-symbolHighlightBackground: rgba(255, 24, 154, 0.23);
  --vscode-editorCursor-foreground: #ff189a;
  --vscode-editorCursor-background: #000000;
  --vscode-editorMultiCursor-primary-foreground: #ff189a;
  --vscode-editorMultiCursor-primary-background: #000000;
  --vscode-editorMultiCursor-secondary-foreground: #ff189a;
  --vscode-editorMultiCursor-secondary-background: #000000;
  --vscode-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
  --vscode-editorLineNumber-foreground: rgba(207, 207, 207, 0.53);
  --vscode-editorIndentGuide-background: #262626;
  --vscode-editorIndentGuide-activeBackground: rgba(255, 255, 255, 0.28);
  --vscode-editorIndentGuide-background1: #262626;
  --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground1: rgba(255, 255, 255, 0.28);
  --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorLineNumber-activeForeground: #ff189a;
  --vscode-editorRuler-foreground: #5a5a5a;
  --vscode-editorCodeLens-foreground: #999999;
  --vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
  --vscode-editorBracketMatch-border: #888888;
  --vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-editorOverviewRuler-background: rgba(37, 37, 37, 0);
  --vscode-editorGutter-background: #1d1d1d;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --vscode-editorOverviewRuler-warningForeground: #cca700;
  --vscode-editorOverviewRuler-infoForeground: #75beff;
  --vscode-editorBracketHighlight-foreground1: #ffd700;
  --vscode-editorBracketHighlight-foreground2: #da70d6;
  --vscode-editorBracketHighlight-foreground3: #179fff;
  --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
  --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorUnicodeHighlight-border: #cca700;
  --vscode-editorUnicodeHighlight-background: rgba(169, 144, 64, 0);
  --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
  --vscode-diffEditor-moveActive-border: #ffa500;
  --vscode-diffEditor-unchangedRegionShadow: #000000;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-actionBar-toggledBackground: rgba(255, 24, 154, 0.37);
  --vscode-symbolIcon-arrayForeground: #cccccc;
  --vscode-symbolIcon-booleanForeground: #cccccc;
  --vscode-symbolIcon-classForeground: #ee9d28;
  --vscode-symbolIcon-colorForeground: #cccccc;
  --vscode-symbolIcon-constantForeground: #cccccc;
  --vscode-symbolIcon-constructorForeground: #b180d7;
  --vscode-symbolIcon-enumeratorForeground: #ee9d28;
  --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
  --vscode-symbolIcon-eventForeground: #ee9d28;
  --vscode-symbolIcon-fieldForeground: #75beff;
  --vscode-symbolIcon-fileForeground: #cccccc;
  --vscode-symbolIcon-folderForeground: #cccccc;
  --vscode-symbolIcon-functionForeground: #b180d7;
  --vscode-symbolIcon-interfaceForeground: #75beff;
  --vscode-symbolIcon-keyForeground: #cccccc;
  --vscode-symbolIcon-keywordForeground: #cccccc;
  --vscode-symbolIcon-methodForeground: #b180d7;
  --vscode-symbolIcon-moduleForeground: #cccccc;
  --vscode-symbolIcon-namespaceForeground: #cccccc;
  --vscode-symbolIcon-nullForeground: #cccccc;
  --vscode-symbolIcon-numberForeground: #cccccc;
  --vscode-symbolIcon-objectForeground: #cccccc;
  --vscode-symbolIcon-operatorForeground: #cccccc;
  --vscode-symbolIcon-packageForeground: #cccccc;
  --vscode-symbolIcon-propertyForeground: #cccccc;
  --vscode-symbolIcon-referenceForeground: #cccccc;
  --vscode-symbolIcon-snippetForeground: #cccccc;
  --vscode-symbolIcon-stringForeground: #cccccc;
  --vscode-symbolIcon-structForeground: #cccccc;
  --vscode-symbolIcon-textForeground: #cccccc;
  --vscode-symbolIcon-typeParameterForeground: #cccccc;
  --vscode-symbolIcon-unitForeground: #cccccc;
  --vscode-symbolIcon-variableForeground: #75beff;
  --vscode-peekViewTitle-background: rgba(255, 24, 154, 0.3);
  --vscode-peekViewTitleLabel-foreground: #ffffff;
  --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
  --vscode-peekView-border: rgba(255, 24, 154, 0);
  --vscode-peekViewResult-background: #1e1e1e;
  --vscode-peekViewResult-lineForeground: #ffffff;
  --vscode-peekViewResult-fileForeground: #ffffff;
  --vscode-peekViewResult-selectionBackground: rgba(255, 24, 154, 0.3);
  --vscode-peekViewResult-selectionForeground: #ffffff;
  --vscode-peekViewEditor-background: #000000;
  --vscode-peekViewEditorGutter-background: #000000;
  --vscode-peekViewEditorStickyScroll-background: #000000;
  --vscode-peekViewEditorStickyScrollGutter-background: #000000;
  --vscode-peekViewResult-matchHighlightBackground: rgba(255, 24, 154, 0.3);
  --vscode-peekViewEditor-matchHighlightBackground: rgba(255, 24, 154, 0.3);
  --vscode-peekViewEditor-matchHighlightBorder: rgba(255, 24, 154, 0);
  --vscode-editorMarkerNavigationError-background: #f48771;
  --vscode-editorMarkerNavigationError-headerBackground: rgba(244, 135, 113, 0.1);
  --vscode-editorMarkerNavigationWarning-background: #cca700;
  --vscode-editorMarkerNavigationWarning-headerBackground: rgba(204, 167, 0, 0.1);
  --vscode-editorMarkerNavigationInfo-background: #75beff;
  --vscode-editorMarkerNavigationInfo-headerBackground: rgba(117, 190, 255, 0.1);
  --vscode-editorMarkerNavigation-background: #2d2d30;
  --vscode-editor-foldBackground: rgba(255, 151, 210, 0.12);
  --vscode-editor-foldPlaceholderForeground: #808080;
  --vscode-editorGutter-foldingControlForeground: #c5c5c5;
  --vscode-editorSuggestWidget-background: #252526;
  --vscode-editorSuggestWidget-border: #454545;
  --vscode-editorSuggestWidget-foreground: #d4d4d4;
  --vscode-editorSuggestWidget-selectedForeground: #ffffff;
  --vscode-editorSuggestWidget-selectedBackground: rgba(255, 255, 255, 0.09);
  --vscode-editorSuggestWidget-highlightForeground: #ff189a;
  --vscode-editorSuggestWidget-focusHighlightForeground: #ff189a;
  --vscode-editorSuggestWidgetStatus-foreground: rgba(212, 212, 212, 0.5);
  --vscode-inlineEdit-originalBackground: rgba(255, 0, 0, 0.02);
  --vscode-inlineEdit-modifiedBackground: rgba(0, 255, 88, 0.01);
  --vscode-inlineEdit-originalChangedLineBackground: rgba(255, 0, 0, 0.08);
  --vscode-inlineEdit-originalChangedTextBackground: rgba(255, 0, 0, 0.08);
  --vscode-inlineEdit-modifiedChangedLineBackground: rgba(155, 185, 85, 0.14);
  --vscode-inlineEdit-modifiedChangedTextBackground: rgba(0, 255, 88, 0.03);
  --vscode-inlineEdit-gutterIndicator-primaryForeground: #ffffff;
  --vscode-inlineEdit-gutterIndicator-primaryBorder: rgba(255, 24, 154, 0.53);
  --vscode-inlineEdit-gutterIndicator-primaryBackground: rgba(255, 24, 154, 0.21);
  --vscode-inlineEdit-gutterIndicator-secondaryForeground: #ffffff;
  --vscode-inlineEdit-gutterIndicator-secondaryBorder: #3a3d41;
  --vscode-inlineEdit-gutterIndicator-secondaryBackground: #3a3d41;
  --vscode-inlineEdit-gutterIndicator-successfulForeground: #ffffff;
  --vscode-inlineEdit-gutterIndicator-successfulBorder: rgba(255, 24, 154, 0.53);
  --vscode-inlineEdit-gutterIndicator-successfulBackground: rgba(255, 24, 154, 0.53);
  --vscode-inlineEdit-gutterIndicator-background: rgba(36, 36, 36, 0.5);
  --vscode-inlineEdit-originalBorder: rgba(255, 0, 0, 0.1);
  --vscode-inlineEdit-modifiedBorder: rgba(0, 255, 88, 0.05);
  --vscode-inlineEdit-tabWillAcceptModifiedBorder: rgba(0, 255, 89, 0.05);
  --vscode-inlineEdit-tabWillAcceptOriginalBorder: rgba(255, 0, 0, 0.1);
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editor-wordHighlightBackground: rgba(255, 24, 154, 0.23);
  --vscode-editor-wordHighlightStrongBackground: rgba(255, 24, 154, 0.23);
  --vscode-editor-wordHighlightTextBackground: rgba(255, 24, 154, 0.23);
  --vscode-editor-wordHighlightBorder: rgba(255, 24, 154, 0);
  --vscode-editor-wordHighlightStrongBorder: rgba(255, 0, 0, 0);
  --vscode-editor-wordHighlightTextBorder: rgba(255, 24, 154, 0);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
  --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
  --vscode-editorHoverWidget-highlightForeground: #ff189a;
  --vscode-editor-placeholder-foreground: rgba(255, 255, 255, 0.34);
  --vscode-tab-activeBackground: #1d1d1d;
  --vscode-tab-unfocusedActiveBackground: #1d1d1d;
  --vscode-tab-inactiveBackground: #242424;
  --vscode-tab-unfocusedInactiveBackground: #242424;
  --vscode-tab-activeForeground: #ffffff;
  --vscode-tab-inactiveForeground: rgba(203, 203, 203, 0.61);
  --vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
  --vscode-tab-unfocusedInactiveForeground: rgba(203, 203, 203, 0.3);
  --vscode-tab-hoverBackground: rgba(203, 0, 114, 0.27);
  --vscode-tab-unfocusedHoverBackground: rgba(203, 0, 114, 0.13);
  --vscode-tab-hoverForeground: #ffffff;
  --vscode-tab-unfocusedHoverForeground: rgba(255, 255, 255, 0.5);
  --vscode-tab-border: rgba(37, 37, 38, 0);
  --vscode-tab-lastPinnedBorder: #585858;
  --vscode-tab-activeBorder: rgba(0, 0, 0, 0);
  --vscode-tab-unfocusedActiveBorder: rgba(0, 0, 0, 0);
  --vscode-tab-activeBorderTop: rgba(0, 0, 0, 0);
  --vscode-tab-unfocusedActiveBorderTop: rgba(0, 0, 0, 0);
  --vscode-tab-selectedBorderTop: rgba(0, 0, 0, 0);
  --vscode-tab-selectedBackground: #1d1d1d;
  --vscode-tab-selectedForeground: #ffffff;
  --vscode-tab-dragAndDropBorder: #ffffff;
  --vscode-tab-activeModifiedBorder: #3399cc;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
  --vscode-editorPane-background: #1d1d1d;
  --vscode-editorGroup-emptyBackground: #1d1d1d;
  --vscode-editorGroupHeader-tabsBackground: #242424;
  --vscode-editorGroupHeader-noTabsBackground: #1d1d1d;
  --vscode-editorGroup-border: #323232;
  --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-editorGroup-dropIntoPromptForeground: #cccccc;
  --vscode-editorGroup-dropIntoPromptBackground: #252526;
  --vscode-sideBySideEditor-horizontalBorder: #323232;
  --vscode-sideBySideEditor-verticalBorder: #323232;
  --vscode-banner-background: #ff189a;
  --vscode-banner-foreground: #ffffff;
  --vscode-banner-iconForeground: #75beff;
  --vscode-statusBar-foreground: #ff7cc6;
  --vscode-statusBar-noFolderForeground: #ff7cc6;
  --vscode-statusBar-background: #000000;
  --vscode-statusBar-noFolderBackground: #000000;
  --vscode-statusBar-focusBorder: #ff7cc6;
  --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.14);
  --vscode-statusBarItem-focusBorder: #ff7cc6;
  --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-hoverForeground: #ff7cc6;
  --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-prominentForeground: #ff7cc6;
  --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
  --vscode-statusBarItem-prominentHoverForeground: #ff7cc6;
  --vscode-statusBarItem-prominentHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-errorBackground: #c72e0f;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-statusBarItem-errorHoverForeground: #ff7cc6;
  --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-warningBackground: #7a6400;
  --vscode-statusBarItem-warningForeground: #ffffff;
  --vscode-statusBarItem-warningHoverForeground: #ff7cc6;
  --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-activityBar-background: #1d1d1d;
  --vscode-activityBar-foreground: #ff189a;
  --vscode-activityBar-inactiveForeground: #777777;
  --vscode-activityBar-border: rgba(0, 0, 0, 0);
  --vscode-activityBar-activeBorder: #ff189a;
  --vscode-activityBar-activeBackground: rgba(255, 255, 255, 0.02);
  --vscode-activityBar-dropBorder: #ff189a;
  --vscode-activityBarBadge-background: #b60066;
  --vscode-activityBarBadge-foreground: #ffffff;
  --vscode-activityBarTop-foreground: #e7e7e7;
  --vscode-activityBarTop-activeBorder: #e7e7e7;
  --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
  --vscode-activityBarTop-dropBorder: #e7e7e7;
  --vscode-panel-background: #1d1d1d;
  --vscode-panel-border: rgba(255, 24, 154, 0.17);
  --vscode-panelTitle-activeForeground: #e7e7e7;
  --vscode-panelTitle-inactiveForeground: rgba(255, 124, 198, 0.44);
  --vscode-panelTitle-activeBorder: rgba(255, 24, 154, 0.69);
  --vscode-panelTitleBadge-background: #b60066;
  --vscode-panelTitleBadge-foreground: #ffffff;
  --vscode-panelInput-border: rgba(255, 255, 255, 0);
  --vscode-panel-dropBorder: #e7e7e7;
  --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --vscode-panelSection-border: rgba(128, 128, 128, 0.35);
  --vscode-panelStickyScroll-background: #1d1d1d;
  --vscode-panelStickyScroll-shadow: #000000;
  --vscode-profileBadge-background: #4d4d4d;
  --vscode-profileBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #000000;
  --vscode-statusBarItem-remoteForeground: #ff189a;
  --vscode-statusBarItem-remoteHoverForeground: #ff7cc6;
  --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-offlineBackground: #6c1717;
  --vscode-statusBarItem-offlineForeground: #ff189a;
  --vscode-statusBarItem-offlineHoverForeground: #ff7cc6;
  --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-extensionBadge-remoteBackground: #b60066;
  --vscode-extensionBadge-remoteForeground: #ffffff;
  --vscode-sideBar-background: #1d1d1d;
  --vscode-sideBar-foreground: #ff7cc6;
  --vscode-sideBar-border: rgba(0, 0, 0, 0.1);
  --vscode-sideBarTitle-background: #1d1d1d;
  --vscode-sideBarTitle-foreground: #ffffff;
  --vscode-sideBar-dropBackground: rgba(186, 23, 115, 0.28);
  --vscode-sideBarSectionHeader-background: rgba(0, 0, 0, 0);
  --vscode-sideBarSectionHeader-foreground: #c0c0c0;
  --vscode-sideBarSectionHeader-border: rgba(255, 255, 255, 0);
  --vscode-sideBarActivityBarTop-border: rgba(255, 255, 255, 0);
  --vscode-sideBarStickyScroll-background: #1d1d1d;
  --vscode-sideBarStickyScroll-shadow: #000000;
  --vscode-titleBar-activeForeground: #ff7cc6;
  --vscode-titleBar-inactiveForeground: rgba(255, 255, 255, 0.6);
  --vscode-titleBar-activeBackground: #000000;
  --vscode-titleBar-inactiveBackground: #000000;
  --vscode-titleBar-border: rgba(0, 0, 0, 0);
  --vscode-menubar-selectionForeground: #ff2da3;
  --vscode-menubar-selectionBackground: rgba(188, 188, 188, 0.16);
  --vscode-commandCenter-foreground: #ff7cc6;
  --vscode-commandCenter-activeForeground: #ff2da3;
  --vscode-commandCenter-inactiveForeground: rgba(255, 255, 255, 0.6);
  --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
  --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
  --vscode-commandCenter-border: rgba(255, 124, 198, 0.2);
  --vscode-commandCenter-activeBorder: rgba(255, 124, 198, 0.3);
  --vscode-commandCenter-inactiveBorder: rgba(255, 255, 255, 0.15);
  --vscode-notificationCenter-border: #474747;
  --vscode-notificationToast-border: #474747;
  --vscode-notifications-foreground: #cccccc;
  --vscode-notifications-background: #252526;
  --vscode-notificationLink-foreground: rgba(255, 24, 154, 0.53);
  --vscode-notificationCenterHeader-foreground: #cccccc;
  --vscode-notificationCenterHeader-background: #303031;
  --vscode-notifications-border: #303031;
  --vscode-notificationsErrorIcon-foreground: #f48771;
  --vscode-notificationsWarningIcon-foreground: #cca700;
  --vscode-notificationsInfoIcon-foreground: #75beff;
  --vscode-editorGutter-modifiedBackground: #0c7d9d;
  --vscode-editorGutter-modifiedSecondaryBackground: #063f4f;
  --vscode-editorGutter-addedBackground: #587c0c;
  --vscode-editorGutter-addedSecondaryBackground: #2c3e06;
  --vscode-editorGutter-deletedBackground: #94151b;
  --vscode-editorGutter-deletedSecondaryBackground: #590d10;
  --vscode-minimapGutter-modifiedBackground: #0c7d9d;
  --vscode-minimapGutter-addedBackground: #587c0c;
  --vscode-minimapGutter-deletedBackground: #94151b;
  --vscode-editorOverviewRuler-modifiedForeground: rgba(12, 125, 157, 0.6);
  --vscode-editorOverviewRuler-addedForeground: rgba(88, 124, 12, 0.6);
  --vscode-editorOverviewRuler-deletedForeground: rgba(148, 21, 27, 0.6);
  --vscode-editorGutter-itemGlyphForeground: #bababa;
  --vscode-editorGutter-itemBackground: #000000;
  --vscode-agentSessionReadIndicator-foreground: rgba(204, 204, 204, 0.15);
  --vscode-terminal-foreground: #ff7cc6;
  --vscode-terminalCursor-foreground: #ffffff;
  --vscode-terminalCursor-background: rgba(255, 24, 154, 0.69);
  --vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
  --vscode-terminal-inactiveSelectionBackground: rgba(255, 255, 255, 0.13);
  --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
  --vscode-terminalCommandDecoration-successBackground: #1b81a8;
  --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
  --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
  --vscode-terminal-border: rgba(128, 128, 128, 0.35);
  --vscode-terminalOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --vscode-terminal-findMatchBackground: rgba(255, 24, 154, 0.34);
  --vscode-terminal-hoverHighlightBackground: rgba(255, 24, 154, 0.11);
  --vscode-terminal-findMatchHighlightBackground: rgba(255, 24, 154, 0.23);
  --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-terminal-tab-activeBorder: rgba(0, 0, 0, 0);
  --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
  --vscode-scmGraph-historyItemRefColor: #75beff;
  --vscode-scmGraph-historyItemRemoteRefColor: #b180d7;
  --vscode-scmGraph-historyItemBaseRefColor: #ea5c00;
  --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #cccccc;
  --vscode-scmGraph-historyItemHoverDefaultLabelBackground: rgba(255, 24, 154, 0.69);
  --vscode-scmGraph-historyItemHoverLabelForeground: #1d1d1d;
  --vscode-scmGraph-historyItemHoverAdditionsForeground: #81b88b;
  --vscode-scmGraph-historyItemHoverDeletionsForeground: #c74e39;
  --vscode-scmGraph-foreground1: #ffb000;
  --vscode-scmGraph-foreground2: #dc267f;
  --vscode-scmGraph-foreground3: #994f00;
  --vscode-scmGraph-foreground4: #40b0a6;
  --vscode-scmGraph-foreground5: #b66dff;
  --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
  --vscode-commentsView-unresolvedIcon: rgba(255, 24, 154, 0.53);
  --vscode-editorCommentsWidget-replyInputBackground: rgba(255, 24, 154, 0.3);
  --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
  --vscode-editorCommentsWidget-unresolvedBorder: rgba(255, 24, 154, 0.53);
  --vscode-editorCommentsWidget-rangeBackground: rgba(255, 24, 154, 0.05);
  --vscode-editorCommentsWidget-rangeActiveBackground: rgba(255, 24, 154, 0.05);
  --vscode-editorGutter-commentRangeForeground: #c5c5c5;
  --vscode-editorOverviewRuler-commentForeground: #c5c5c5;
  --vscode-editorOverviewRuler-commentUnresolvedForeground: #c5c5c5;
  --vscode-editorOverviewRuler-commentDraftForeground: #c5c5c5;
  --vscode-editorGutter-commentGlyphForeground: #bababa;
  --vscode-editorGutter-commentUnresolvedGlyphForeground: #bababa;
  --vscode-editorGutter-commentDraftGlyphForeground: #bababa;
  --vscode-ports-iconRunningProcessForeground: #000000;
  --vscode-settings-headerForeground: #cccccc;
  --vscode-settings-settingsHeaderHoverForeground: rgba(204, 204, 204, 0.7);
  --vscode-settings-modifiedItemIndicator: #0c7d9d;
  --vscode-settings-headerBorder: rgba(255, 24, 154, 0.17);
  --vscode-settings-sashBorder: rgba(255, 24, 154, 0.17);
  --vscode-settings-dropdownBackground: #1e1e1e;
  --vscode-settings-dropdownForeground: #ffffff;
  --vscode-settings-dropdownBorder: rgba(255, 255, 255, 0);
  --vscode-settings-dropdownListBorder: #454545;
  --vscode-settings-checkboxBackground: #1e1e1e;
  --vscode-settings-checkboxForeground: #ffffff;
  --vscode-settings-checkboxBorder: rgba(255, 255, 255, 0);
  --vscode-settings-textInputBackground: #1e1e1e;
  --vscode-settings-textInputForeground: #ffffff;
  --vscode-settings-textInputBorder: rgba(255, 255, 255, 0);
  --vscode-settings-numberInputBackground: #1e1e1e;
  --vscode-settings-numberInputForeground: #ffffff;
  --vscode-settings-numberInputBorder: rgba(255, 255, 255, 0);
  --vscode-settings-focusedRowBackground: rgba(255, 255, 255, 0.03);
  --vscode-settings-rowHoverBackground: rgba(255, 24, 154, 0.09);
  --vscode-settings-focusedRowBorder: rgba(255, 24, 154, 0.53);
  --vscode-keybindingTable-headerBackground: rgba(204, 204, 204, 0.04);
  --vscode-keybindingTable-rowsBackground: rgba(204, 204, 204, 0.04);
  --vscode-extensionButton-background: rgba(255, 24, 154, 0.53);
  --vscode-extensionButton-foreground: #ffffff;
  --vscode-extensionButton-hoverBackground: #ff189a;
  --vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
  --vscode-extensionButton-prominentBackground: rgba(255, 24, 154, 0.53);
  --vscode-extensionButton-prominentForeground: #ffffff;
  --vscode-extensionButton-prominentHoverBackground: #ff189a;
  --vscode-debugToolBar-background: #333333;
  --vscode-debugToolBar-border: #474747;
  --vscode-debugIcon-startForeground: #89d185;
  --vscode-notebook-cellBorderColor: #000000;
  --vscode-notebook-focusedEditorBorder: rgba(255, 24, 154, 0.53);
  --vscode-notebookStatusSuccessIcon-foreground: #89d185;
  --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
  --vscode-notebookStatusErrorIcon-foreground: #f48771;
  --vscode-notebookStatusRunningIcon-foreground: #cccccc;
  --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --vscode-notebook-selectedCellBackground: #000000;
  --vscode-notebook-selectedCellBorder: #000000;
  --vscode-notebook-focusedCellBorder: rgba(255, 24, 154, 0.53);
  --vscode-notebook-inactiveFocusedCellBorder: #000000;
  --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
  --vscode-notebook-cellInsertionIndicator: rgba(255, 24, 154, 0.53);
  --vscode-notebookScrollbarSlider-background: rgba(79, 79, 79, 0.11);
  --vscode-notebookScrollbarSlider-hoverBackground: rgba(38, 38, 38, 0);
  --vscode-notebookScrollbarSlider-activeBackground: rgba(125, 125, 125, 0.4);
  --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-notebook-cellEditorBackground: #1d1d1d;
  --vscode-notebook-editorBackground: #1d1d1d;
  --vscode-inlineChat-foreground: #cccccc;
  --vscode-inlineChat-background: #252526;
  --vscode-inlineChat-border: #454545;
  --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
  --vscode-inlineChatInput-border: #454545;
  --vscode-inlineChatInput-focusBorder: rgba(255, 24, 154, 0.53);
  --vscode-inlineChatInput-placeholderForeground: #ffffff;
  --vscode-inlineChatInput-background: #1e1e1e;
  --vscode-inlineChatDiff-inserted: rgba(0, 255, 88, 0.02);
  --vscode-editorOverviewRuler-inlineChatInserted: rgba(0, 255, 88, 0.03);
  --vscode-editorMinimap-inlineChatInserted: rgba(0, 255, 88, 0.03);
  --vscode-inlineChatDiff-removed: rgba(255, 0, 0, 0.05);
  --vscode-editorOverviewRuler-inlineChatRemoved: rgba(255, 0, 0, 0.06);
  --vscode-extensionIcon-verifiedForeground: rgba(255, 24, 154, 0.53);
  --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
  --vscode-chat-requestBackground: rgba(29, 29, 29, 0.62);
  --vscode-chat-slashCommandBackground: rgba(38, 71, 120, 0.4);
  --vscode-chat-slashCommandForeground: #85b6ff;
  --vscode-chat-avatarBackground: #1f1f1f;
  --vscode-chat-avatarForeground: #cccccc;
  --vscode-chat-editedFileForeground: #e2c08d;
  --vscode-chat-requestCodeBorder: rgba(0, 73, 114, 0.72);
  --vscode-chat-requestBubbleBackground: rgba(255, 24, 154, 0.07);
  --vscode-chat-requestBubbleHoverBackground: rgba(255, 24, 154, 0.14);
  --vscode-chat-checkpointSeparator: #585858;
  --vscode-chat-linesAddedForeground: #54b054;
  --vscode-chat-linesRemovedForeground: #fc6a6a;
  --vscode-extensionIcon-starForeground: #ff8e00;
  --vscode-extensionIcon-preReleaseForeground: #1d9271;
  --vscode-extensionIcon-sponsorForeground: #d758b3;
  --vscode-extensionIcon-privateForeground: rgba(255, 255, 255, 0.38);
  --vscode-debugExceptionWidget-border: #474747;
  --vscode-debugExceptionWidget-background: #333333;
  --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
  --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
  --vscode-debugIcon-breakpointForeground: #e51400;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
  --vscode-multiDiffEditor-headerBackground: #262626;
  --vscode-multiDiffEditor-background: #1d1d1d;
  --vscode-multiDiffEditor-border: rgba(255, 255, 255, 0);
  --vscode-minimap-chatEditHighlight: rgba(29, 29, 29, 0.6);
  --vscode-chatManagement-sashBorder: rgba(255, 24, 154, 0.17);
  --vscode-gauge-foreground: #007acc;
  --vscode-gauge-background: rgba(0, 122, 204, 0.3);
  --vscode-gauge-warningForeground: #b89500;
  --vscode-gauge-warningBackground: rgba(184, 149, 0, 0.3);
  --vscode-gauge-errorForeground: #be1100;
  --vscode-gauge-errorBackground: rgba(190, 17, 0, 0.3);
  --vscode-mcpIcon-starForeground: #ff8e00;
  --vscode-interactive-activeCodeBorder: rgba(255, 24, 154, 0);
  --vscode-interactive-inactiveCodeBorder: #000000;
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #ad1818;
  --vscode-testing-messagePeekBorder: #75beff;
  --vscode-testing-peekHeaderBackground: rgba(173, 24, 24, 0.1);
  --vscode-testing-messagePeekHeaderBackground: rgba(117, 190, 255, 0.1);
  --vscode-testing-coveredBackground: rgba(0, 255, 88, 0.05);
  --vscode-testing-coveredBorder: rgba(0, 255, 88, 0.04);
  --vscode-testing-coveredGutterBackground: rgba(0, 255, 88, 0.03);
  --vscode-testing-uncoveredBranchBackground: #4b1717;
  --vscode-testing-uncoveredBackground: rgba(255, 0, 0, 0.1);
  --vscode-testing-uncoveredBorder: rgba(255, 0, 0, 0.08);
  --vscode-testing-uncoveredGutterBackground: rgba(255, 0, 0, 0.15);
  --vscode-testing-coverCountBadgeBackground: rgba(255, 24, 154, 0.69);
  --vscode-testing-coverCountBadgeForeground: #ffffff;
  --vscode-testing-message-error-badgeBackground: #f14c4c;
  --vscode-testing-message-error-badgeBorder: #f14c4c;
  --vscode-testing-message-error-badgeForeground: #000000;
  --vscode-testing-message-info-decorationForeground: rgba(186, 186, 186, 0.5);
  --vscode-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
  --vscode-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
  --vscode-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
  --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
  --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
  --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
  --vscode-searchEditor-textInputBorder: rgba(255, 255, 255, 0);
  --vscode-statusBar-debuggingBackground: rgba(255, 24, 154, 0.53);
  --vscode-statusBar-debuggingForeground: #ffffff;
  --vscode-commandCenter-debuggingBackground: rgba(255, 24, 154, 0.14);
  --vscode-debugTokenExpression-name: #c586c0;
  --vscode-debugTokenExpression-type: #4a90e2;
  --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
  --vscode-debugTokenExpression-string: #ce9178;
  --vscode-debugTokenExpression-boolean: #4e94ce;
  --vscode-debugTokenExpression-number: #b5cea8;
  --vscode-debugTokenExpression-error: #f48771;
  --vscode-debugView-exceptionLabelForeground: #cccccc;
  --vscode-debugView-exceptionLabelBackground: #6c2022;
  --vscode-debugView-stateLabelForeground: #cccccc;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #75beff;
  --vscode-debugConsole-warningForeground: #cca700;
  --vscode-debugConsole-errorForeground: #f48771;
  --vscode-debugConsole-sourceForeground: #cccccc;
  --vscode-debugConsoleInputIcon-foreground: #cccccc;
  --vscode-debugIcon-pauseForeground: #75beff;
  --vscode-debugIcon-stopForeground: #f48771;
  --vscode-debugIcon-disconnectForeground: #f48771;
  --vscode-debugIcon-restartForeground: #89d185;
  --vscode-debugIcon-stepOverForeground: #75beff;
  --vscode-debugIcon-stepIntoForeground: #75beff;
  --vscode-debugIcon-stepOutForeground: #75beff;
  --vscode-debugIcon-continueForeground: #75beff;
  --vscode-debugIcon-stepBackForeground: #75beff;
  --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
  --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
  --vscode-mergeEditor-changeBase-background: #4b1818;
  --vscode-mergeEditor-changeBase-word-background: #6f1313;
  --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
  --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
  --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
  --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
  --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
  --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
  --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
  --vscode-mergeEditor-conflict-input1-background: rgba(54, 115, 102, 0.4);
  --vscode-mergeEditor-conflict-input2-background: rgba(57, 95, 143, 0.4);
  --vscode-terminal-ansiBlack: #000000;
  --vscode-terminal-ansiRed: #cd3131;
  --vscode-terminal-ansiGreen: #0dbc79;
  --vscode-terminal-ansiYellow: #e5e510;
  --vscode-terminal-ansiBlue: #2472c8;
  --vscode-terminal-ansiMagenta: #bc3fbc;
  --vscode-terminal-ansiCyan: #11a8cd;
  --vscode-terminal-ansiWhite: #e5e5e5;
  --vscode-terminal-ansiBrightBlack: #666666;
  --vscode-terminal-ansiBrightRed: #f14c4c;
  --vscode-terminal-ansiBrightGreen: #23d18b;
  --vscode-terminal-ansiBrightYellow: #f5f543;
  --vscode-terminal-ansiBrightBlue: #3b8eea;
  --vscode-terminal-ansiBrightMagenta: #d670d6;
  --vscode-terminal-ansiBrightCyan: #29b8db;
  --vscode-terminal-ansiBrightWhite: #e5e5e5;
  --vscode-simpleFindWidget-sashBorder: #454545;
  --vscode-terminalStickyScrollHover-background: #2a2d2e;
  --vscode-terminalCommandGuide-foreground: #000000;
  --vscode-terminalSymbolIcon-flagForeground: #ee9d28;
  --vscode-terminalSymbolIcon-aliasForeground: #b180d7;
  --vscode-terminalSymbolIcon-optionValueForeground: #75beff;
  --vscode-terminalSymbolIcon-methodForeground: #b180d7;
  --vscode-terminalSymbolIcon-argumentForeground: #75beff;
  --vscode-terminalSymbolIcon-optionForeground: #ee9d28;
  --vscode-terminalSymbolIcon-fileForeground: #cccccc;
  --vscode-terminalSymbolIcon-folderForeground: #cccccc;
  --vscode-terminalSymbolIcon-commitForeground: #cccccc;
  --vscode-terminalSymbolIcon-branchForeground: #cccccc;
  --vscode-terminalSymbolIcon-tagForeground: #cccccc;
  --vscode-terminalSymbolIcon-stashForeground: #cccccc;
  --vscode-terminalSymbolIcon-remoteForeground: #cccccc;
  --vscode-terminalSymbolIcon-pullRequestForeground: #cccccc;
  --vscode-terminalSymbolIcon-pullRequestDoneForeground: #cccccc;
  --vscode-terminalSymbolIcon-symbolicLinkFileForeground: #cccccc;
  --vscode-terminalSymbolIcon-symbolicLinkFolderForeground: #cccccc;
  --vscode-terminalSymbolIcon-symbolText: #cccccc;
  --vscode-markdownAlert-note-foreground: #75beff;
  --vscode-markdownAlert-tip-foreground: #89d185;
  --vscode-markdownAlert-important-foreground: #b180d7;
  --vscode-markdownAlert-warning-foreground: #cca700;
  --vscode-markdownAlert-caution-foreground: #ad1818;
  --vscode-welcomePage-tileBackground: #252526;
  --vscode-welcomePage-tileHoverBackground: #2c2c2d;
  --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
  --vscode-welcomePage-progress-background: #1e1e1e;
  --vscode-welcomePage-progress-foreground: rgba(255, 24, 154, 0.53);
  --vscode-walkthrough-stepTitle-foreground: #ffffff;
  --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.31);
  --vscode-profiles-sashBorder: rgba(255, 24, 154, 0.17);
  --vscode-remoteHub-decorations-addedForegroundColor: #81b88b;
  --vscode-remoteHub-decorations-modifiedForegroundColor: #e2c08d;
  --vscode-remoteHub-decorations-deletedForegroundColor: #c74e39;
  --vscode-remoteHub-decorations-submoduleForegroundColor: #8db9e2;
  --vscode-remoteHub-decorations-conflictForegroundColor: #e4676b;
  --vscode-remoteHub-decorations-incomingAddedForegroundColor: #81b88b;
  --vscode-remoteHub-decorations-incomingModifiedForegroundColor: #e2c08d;
  --vscode-remoteHub-decorations-incomingDeletedForegroundColor: #c74e39;
  --vscode-remoteHub-decorations-incomingRenamedForegroundColor: #73c991;
  --vscode-remoteHub-decorations-possibleConflictForegroundColor: #cca700;
  --vscode-remoteHub-decorations-ignoredResourceForeground: #8c8c8c;
  --vscode-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #e2c08d;
}