.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.50rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}

.white-space-nowrap {
  white-space: nowrap;
}

.overflow-x-three-points {
  overflow-x: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.flex-1 {
  flex: 1;
}

.overflow-auto {
  overflow: auto !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}

.d-contents {
  display: contents;
}

.link-menu {
  color: var(--texto-navegacao);
  font-weight: normal;
}
.link-menu:hover {
  color: #cccccc;
  font-weight: normal;
}

.link-azul:hover {
  color: #3f84e4 !important;
  font-weight: normal;
}

.link-laranja {
  color: #ffd866 !important;
}
.link-laranja:hover {
  color: #3f84e4 !important;
}

.links {
  color: #fff;
  font-weight: normal;
}
.links:hover {
  color: #3f84e4 !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-git {
  color: #e84d31;
}
.text-php {
  color: #6181b6;
}
.text-laravel {
  color: #e32b20;
}
.text-lumen {
  color: #e74430;
}
.text-mysql {
  color: #00618a;
}
.text-html {
  color: #e44d26;
}
.text-css {
  color: #33a9dc;
}
.text-javascript {
  color: #f0db4f;
}
.text-vue {
  color: #41b883;
}
.text-jquery {
  color: #0868ac;
}
.text-bootstrap-vue {
  color: #563d7c;
}

.texto-fino {
  font-weight: 300;
}
.texto-escuro {
  color: #9b9285;
}


.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-19 {
  font-size: 19px;
}
.font-20 {
  font-size: 20px;
}
.font-21 {
  font-size: 21px;
}
.font-22 {
  font-size: 22px;
}
.font-23 {
  font-size: 23px;
}
.font-24 {
  font-size: 24px;
}
.font-25 {
  font-size: 25px;
}
.font-26 {
  font-size: 26px;
}
.font-27 {
  font-size: 27px;
}
.font-28 {
  font-size: 28px;
}
.font-29 {
  font-size: 29px;
}