.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.50rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}

.white-space-nowrap {
  white-space: nowrap;
}

.overflow-x-three-points {
  overflow-x: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.flex-1 {
  flex: 1;
}

.overflow-auto {
  overflow: auto !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}

.d-contents {
  display: contents;
}

.link-menu {
  color: var(--texto-navegacao);
  font-weight: normal;
}
.link-menu:hover {
  color: #cccccc;
  font-weight: normal;
}

.link-azul:hover {
  color: #3f84e4 !important;
  font-weight: normal;
}

.link-laranja {
  color: #ffd866 !important;
}
.link-laranja:hover {
  color: #3f84e4 !important;
}

.links {
  color: #fff;
  font-weight: normal;
}
.links:hover {
  color: #3f84e4 !important;
}

.text-decoration-none {
  text-decoration: none !important;
}