@import "tailwindcss";
@import "@nuxt/ui";
@import "@/assets/css/light.css";
@import "@/assets/css/dark.css";
@import "@/assets/css/global.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-header-background: var(--header-background);
  --color-header-text: var(--header-text);
  --color-header-text-sleep: var(--header-text-sleep);
  --color-header-text-hover: var(--header-text-hover);
  --color-header-border: var(--header-border);

  --color-footer-background: var(--footer-background);
  --color-footer-text: var(--footer-text);

  --color-nav-text: var(--nav-text);
  --color-nav-border: var(--nav-border);

  --color-fundo: var(--fundo);
  --color-fundo-icons: var(--fundo-icons);
  --color-text-icons: var(--text-icons);
  --color-padrao: var(--padrao);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  .caixa {
    @apply w-full max-w-375 h-full flex flex-col bg-fundo text-white rounded-lg overflow-hidden;
  }
  .rodape {
    @apply bg-footer-background w-full flex justify-end items-center h-6 relative text-sm;
  }
}